node_modules
.git
.next
dist
.env
*.log
.output
.tanstack
temp_chunks
final_cuts
scripts/**/.venv
scripts/**/__pycache__
*.tar.gz
design
evening_text.txt
morning_text.txt
rodja_morning_transcript.txt
